/* styles.css */
.custom-swal-container {
  width: 360px !important; /* 너비 설정 */
  height: 844px !important; /* 높이 설정 */
  max-width: 360px !important; /* 최대 너비 설정 */
  max-height: 844px !important; /* 최대 높이 설정 */
  margin: 0 !important; /* margin 제거 */
  box-sizing: border-box; /* 박스 모델 설정 */

  
    position: absolute;
    top: 50%;         /* 세로 중앙 정렬 */
    left: 49%;        /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 가로, 세로 중앙 정렬을 위한 변환 */
    padding: 30px; /* 내부 여백 설정 */
  }
  